/* You can add global styles to this file, and also import other style files */

.test {
  display: inline-block;
  border-bottom: 1px dotted #666;
  position: absolute;
}

.tool-tip {
  display: inline-block;
  position: absolute;
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  padding: 5px 8px;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  z-index: 10;
}